@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root[data-theme="dark"] {
	--bg-color: rgb(35, 34, 34);
	--text-color: white;
	--box-blur-r: linear-gradient(-90deg, rgb(35, 35, 34) 10%, rgba(35, 35, 34, 0) 77%);
	--box-blur-l: linear-gradient(90deg, rgb(35, 35, 34) 10%, rgba(35, 35, 34, 0) 77%);
	--win-box-color: rgba(255, 255, 255, 0.734);
	--info-color: white;
}

:root[data-theme="light"] {
	--bg-color: rgba(255, 255, 255, 0.701);
	--text-color: black;
	--box-blur-r: linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgba(35, 35, 34, 0) 77%);
	--box-blur-l: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgba(35, 35, 34, 0) 77%);
	--win-box-color: rgb(255, 200, 221);
	--info-color: black;
}

body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--bg-color);
	font-family: "Roboto", "sans-serif";
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#open-btn {
	padding: 20px;
	margin-top: 30px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	user-select: none;
}

.roll-container {
	width: 80%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: transparent;
	position: relative;
}

.roll-wrapper {
	display: flex;
	left: 0;
	transition: left 6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	position: absolute;
}

.backdrop {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
@media screen and (max-width: 767px) {
	.roll-container {
		width: 100%;
	}
}

.box-image {
	width: 120px;
}

.win {
	width: 100px;
	height: 100px;
	padding: 20px;
	border-radius: 20px;
	background-color: var(--win-box-color);
	position: absolute;
	z-index: -1;
}

.box-blur-left {
	position: absolute;
	left: 0px;
	width: 30%;
	height: 150px;
	border-radius: -50%;
	backdrop-filter: blur(1px);
	filter: blur(1px);
	background: var(--box-blur-l);
}
.box-blur-right {
	position: absolute;
	right: 0px;
	width: 30%;
	height: 150px;
	border-radius: -50%;
	backdrop-filter: blur(1px);
	filter: blur(1px);
	background: var(--box-blur-r);
}

.winner-container {
	display: flex;
	color: var(--text-color);
	font-weight: bolder;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 0px;
}

.winner-container span {
	text-transform: uppercase;
	text-align: center;
}

.winner-container img {
	margin-top: -30px;
}

.win-name {
	font-size: 25px;
	margin-top: -20px;
}
.win-msg {
	margin-top: -20px;
	line-height: 30px;
	font-size: 16px;
	max-width: 200px;
}

.info-btn {
	position: absolute;
	right: 0;
	top: 0px;
	width: 45px;
	margin: 30px;
	cursor: pointer;
	user-select: none;
	transition: scale 1s ease;
	fill: var(--info-color);
}

.info-btn:hover {
	scale: 1.2;
}

.modal-info {
	max-width: 30%;
	background-color: white;
	border-radius: 10px;
	padding: 10px 30px 30px;
	position: absolute;
	text-align: center;
	font-weight: 700;
	z-index: 2;
}

.modal-info p {
	max-width: 100%;
}

.modal-info button {
	cursor: pointer;
	transition: background-color 0.9s ease-in-out;
	padding: 5px;
	border-radius: 4px;
	background-color: transparent;
	border: none;
	font-size: 20px;
	user-select: none;
}

.modal-info button:hover {
	background-color: #000;
}

.donut-btn {
	position: absolute;
	right: 65px;
	margin: 30px;
	top: 2px;
	cursor: pointer;
	transition: scale 1s ease;
	user-select: none;
}

@media screen and (min-height: 914px) {
	.winner-container {
		margin-bottom: 60px;
	}
}

.donut-btn:hover {
	scale: 1.2;
}

.blink-2 {
	animation: blink-2 1s both;
}

@keyframes blink-2 {
	0% {
		opacity: 1;
		scale: 1;
	}
	50% {
		opacity: 0.2;
		scale: 1.4;
	}
	100% {
		opacity: 1;
		scale: 1;
	}
}

.scale-in-center {
	animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.scale-out-center {
	animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes scale-out-center {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 1;
	}
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.modal-info-donut {
	width: 70%;
	height: 80%;
	background-color: white;
	border-radius: 10px;
	padding: 0px 30px;
	position: absolute;
	text-align: center;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 50px;
}

.modal-info-donut button {
	text-align: center;
	margin: 0 auto;
	padding: 5px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.9s ease-in-out;
	border-radius: 4px;
	font-size: 25px;
	user-select: none;
}

.modal-info-donut button:hover {
	background-color: #000;
}

@media screen and (max-width: 767px) {
	#open-btn {
		cursor: auto;
	}

	.donut-btn {
		width: 30px;
		height: 30px;
		top: 0px;
		right: 50px;
		cursor: auto;
	}

	.info-btn {
		width: 30px;
		height: 30px;
		cursor: auto;
	}

	.modal-info {
		max-width: 70%;
	}

	.modal-info button {
		cursor: auto;
	}

	.modal-info-donut button {
		cursor: none;
	}
}

.img-container {
	height: 85%;
	overflow-y: scroll;
	list-style: none;
	padding: 0;
}

.donut-item h3 {
	margin: 0;
	text-transform: uppercase;
}

.donut-item span {
	display: block;
	margin: 5px auto;
	padding: 5px 10px;
	border-radius: 10px;
	width: fit-content;
	color: white;
	user-select: none;
}
.img-donut {
	user-select: none;
}
.img-container::-webkit-scrollbar {
	width: 5px;
}

.img-container::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 20px;
}

.img-container::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}
.modal-info-donut.hidden {
	display: none;
}

.epico {
	background-color: #e4ae33;
}
.rara {
	background-color: #eb4b4b;
}
.infrecuente {
	background-color: #8847ff;
}
.poco-comun {
	background-color: #d32ce6;
}
.comun {
	background-color: #4b69ff;
}

.theme-container {
	margin: 30px;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

#sun {
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}

#moon {
}

.hidden {
	display: none;
}
